<div class="news-grid" style="max-width:560px;">
  <button type="button" class="actu">
    <div class="actu__img" style="background:linear-gradient(135deg,#33614D,#0F2A47);">
      <span class="cchip actu__cat"><span class="cdot" style="background:var(--v-green)"></span>Patrimoine</span>
    </div>
    <h3 class="actu__title">Comment diversifier en 2026 sans sacrifier la liquidité</h3>
    <div class="actu__meta"><span class="ic" style="width:14px;height:14px;-webkit-mask-image:url('/icons/kalai/info.svg');mask-image:url('/icons/kalai/info.svg');"></span> 4 min</div>
  </button>
  <button type="button" class="actu">
    <div class="actu__img" style="background:linear-gradient(135deg,#C0512E,#141208);">
      <span class="cchip actu__cat"><span class="cdot"></span>Marchés</span>
    </div>
    <h3 class="actu__title">Bitcoin : lire les cycles sans sur-réagir</h3>
    <div class="actu__meta"><span class="ic" style="width:14px;height:14px;-webkit-mask-image:url('/icons/kalai/info.svg');mask-image:url('/icons/kalai/info.svg');"></span> 6 min</div>
  </button>
</div>
