<button type="button" class="achip">
  <span class="avt avt--blue" style="--avt-size:38px">
    <span class="ic" style="width:19px;height:19px;-webkit-mask-image:url('/icons/kalai/bitcoin.svg');mask-image:url('/icons/kalai/bitcoin.svg');" aria-hidden="true"></span>
  </span>
  <span class="achip__body">
    <span class="achip__name">Bitcoin</span>
    <span class="achip__sub">BTC</span>
  </span>
  <span class="ic achip__chv" style="width:14px;height:14px;-webkit-mask-image:url('/icons/kalai/chevron-down.svg');mask-image:url('/icons/kalai/chevron-down.svg');" aria-hidden="true"></span>
</button>
