<!-- Initiales -->
<span class="avt avt--terra">FL</span>

<!-- Icône Kalai en slot -->
<span class="avt avt--dark">
  <img class="avt__ic" src="assets/icons/wallet.svg" alt="" />
</span>

<!-- Photo -->
<span class="avt avt--56">
  <img src="assets/photos/advisor.jpg" alt="Hélène" />
  <span class="avt__status"></span>
</span>

<!-- Pile -->
<span class="avt-stack">
  <span class="avt avt--32 avt--terra">A</span>
  <span class="avt avt--32 avt--green">B</span>
  <span class="avt-stack__more">+12</span>
</span>