<nav class="mtab" aria-label="Navigation mobile">
  <a class="mtab__item is-active" href="#"><span class="mtab__ic"><span class="ic" style="width:22px;height:22px;-webkit-mask-image:url('/icons/kalai/home-1.svg');mask-image:url('/icons/kalai/home-1.svg');"></span></span><span class="mtab__lbl">Portefeuille</span></a>
  <a class="mtab__item" href="#"><span class="mtab__ic"><span class="ic" style="width:22px;height:22px;-webkit-mask-image:url('/icons/kalai/graph.svg');mask-image:url('/icons/kalai/graph.svg');"></span></span><span class="mtab__lbl">Marchés</span></a>
  <a class="mtab__item" href="#"><span class="mtab__ic"><span class="ic" style="width:22px;height:22px;-webkit-mask-image:url('/icons/kalai/bookmark.svg');mask-image:url('/icons/kalai/bookmark.svg');"></span></span><span class="mtab__lbl">Académie</span></a>
  <a class="mtab__item" href="#"><span class="mtab__ic"><span class="ic" style="width:22px;height:22px;-webkit-mask-image:url('/icons/kalai/exchange.svg');mask-image:url('/icons/kalai/exchange.svg');"></span></span><span class="mtab__lbl">Échanger</span></a>
  <a class="mtab__item" href="#"><span class="mtab__ic"><span class="mtab__avt">GM</span></span><span class="mtab__lbl">Profil</span></a>
</nav>
