<div class="topnav__pillwrap" style="display:inline-block;position:relative;">
  <button type="button" class="topnav__pill is-open">
    Mon wallet
    <span class="ic ic--chv" style="width:12px;height:12px;-webkit-mask-image:url('/icons/kalai/chevron-down.svg');mask-image:url('/icons/kalai/chevron-down.svg');"></span>
  </button>
  <div class="dd" role="menu" style="position:absolute;top:calc(100% + 8px);left:0;width:280px;">
    <div class="dd__section-lbl">Wallets</div>
    <button type="button" class="dd__item dd__item--row">
      <span class="avt avt--dark" style="--avt-size:32px"><span class="ic" style="width:16px;height:16px;-webkit-mask-image:url('/icons/kalai/wallet.svg');mask-image:url('/icons/kalai/wallet.svg');"></span></span>
      <span class="dd__item-body"><span class="dd__item-name">Wallet principal</span><span class="dd__item-sub">48 920 €</span></span>
      <span class="ic dd__item-check" style="width:16px;height:16px;color:var(--v-green);-webkit-mask-image:url('/icons/kalai/check.svg');mask-image:url('/icons/kalai/check.svg');"></span>
    </button>
  </div>
</div>
