<div class="mchain">
  <button type="button" class="topnav__pill">
    <span class="ic" style="width:16px;height:16px;-webkit-mask-image:url('/icons/kalai/wallet.svg');mask-image:url('/icons/kalai/wallet.svg');"></span>
    Wallet principal
    <span class="ic ic--chv" style="width:12px;height:12px;-webkit-mask-image:url('/icons/kalai/chevron-down.svg');mask-image:url('/icons/kalai/chevron-down.svg');"></span>
  </button>
  <button type="button" class="topnav__pill">
    <span class="net-dot net-dot--base net-dot--lg"></span>
    Base
    <span class="ic ic--chv" style="width:12px;height:12px;-webkit-mask-image:url('/icons/kalai/chevron-down.svg');mask-image:url('/icons/kalai/chevron-down.svg');"></span>
  </button>
</div>
